*{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1d1d1f;
}
nav{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    height: 36px;
    font-size: 12px;
    width: 100vw;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
    color: #1d1d1f;
}
.navi{
    position: relative;
    height: 35px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: #1d1d1f;
}
section div .colorful {    
    font-size: 20px;
    color:color-mix(in srgb,red 70%, blue 40%);
}
.main{
    background-image: url(images/applebgg.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 600px;
    background-size:cover;
}
.box{
    display: grid;
    grid-template-rows: 200px
                        45px
                        200px
                        35px;
}
.box>div{
    background-color: #0071e3;
    width: 200px;
    color: white;
    padding: 18px 25px;
    font-size: 35px;
    margin-left: 40%;
    margin-bottom: 17px;
    height: auto;
    font-weight: 700;
    border-radius: 36px;
    
}
.box :first-child{
    margin-top: 40px;
}
.box :nth-child(2){
    font-size: 20px;
    padding: 8px 5px;
    width: 235px;
    margin-top: -8px;
}
.box button{
    background-color: transparent;
    color: #1d1d1f;
    width: 80px;
    height: 40px;
    margin-left: 47%;
    align-self: center;
    border-color: #0071e3;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 20px;  
}
.one{
    height: 600px;
    width: 100vw;
    background-color: #f5f5f7;
    margin-top: 10px;
}
.box2{
    display: grid;
    /* align-items: center; */
    justify-content: center;
    grid-template-rows :75px
                        50px
                        50px
                        70px
                        200px;
    -ms-grid-column-align: center;

}
.box2 div{
    margin-top: 33px;
    text-align: center;
}
.box2 :nth-child(1){
    font-size: 53px;
    font-weight: 650;
}
.box2 :nth-child(2){
   font-size: 27px;
}
.box2 :nth-child(3) button{
    font-size: medium;
    font-weight: normal;
    /* height: 40px;
    width: 140px; */
    padding: 12px 26px;
    margin-left: 10px;
    border-radius: 30px;
    border-color: #0071e3;
    color: #0071e3;
    background-color:transparent;
}
.box2 :nth-child(3) :nth-child(1){
    border: #0071e3;
    background-color: #0071e3;
    color: #f5f5f7;
}
.box2 :nth-child(4){
    margin-top: 55px;
    font-size: 20px;
    color:color-mix(in srgb,red 70%, blue 40%);
}
.box2 :nth-child(5){
    margin-left: -3%;
}
.two{
    margin-top: 10px;
    background-image: url(images/mac2.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 550px;
    background-size:cover;
}
.two>div{
    text-align: center;
    display: grid;
    grid-template-rows: 80px
                        45px
                        45px
                        340px;
}
.two div div{
    margin-top: 10px;
}
.two>div :nth-child(1){
    font-size: 55px;
    font-weight: 560;
    margin-top: 25px;
}
.two>div :nth-child(2){    
    font-size: 28px;
}
.two>div :nth-child(3){    
    font-size: 28px;
    margin-top: 0;
}
.two>div :nth-child(4) button{
    font-size: medium;
    font-weight: lighter;
    background-color: transparent;
    height: 40px;
    width: 120px;
    margin-left: 15px;    
    border-radius: 30px;
    border-color: #0071e3;
    color: #0071e3;
    margin-top: 0;
}
.two>div :nth-child(4) :nth-child(1){
    border: #0071e3;
    background-color: #0071e3;
    color: #f5f5f7;
}
.two>div :nth-child(4) :nth-child(2){
    width: 65px;
}
.three {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.three .d1{
    margin: 10px;
    background-image: url(images/threeo.jpg);
    background-repeat: no-repeat;
    width: calc(50vw-10px);
    height: 560px;
    background-size:cover;
    text-align: center;
    display: grid;
    grid-template-rows: 95px
                        35px
                        350px
                        40px;
}
.three .d1 div{
    color: #f5f5f7;
}
.three .d1 :nth-child(1){
    font-size: 40px;
    font-weight: 550;
    margin-top: 40px;
}
.three .d1 :nth-child(2){
    font-size: 20px;
}
.three .d1 :nth-child(3) button{
    font-size: medium;
    font-weight: lighter;
    background-color: transparent;
    height: 40px;
    width: 120px;
    margin-left: 10px;    
    border-radius: 30px;
    border-color: #0071e3;
    color: #0071e3;
    margin-top: 0;

}
.three .d1 :nth-child(3) :nth-child(1){
    border: #0071e3;
    background-color: #0071e3;
    color: #f5f5f7;
}
.three .d1 :nth-child(3) :nth-child(2){
    width:70px;
}
.three .d1 :nth-child(4){
    font-size: 17px;
    color:color-mix(in srgb,red 70%, blue 40%);
}
.three .d2{
    margin: 10px -2px;
    background-image: url(images/watchr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: calc(50vw-10px);
    height: 560px;
    background-size:cover;
    text-align: center;
    display: grid;
    grid-template-rows: 80px
                        30px
                        40px
                        40px;
}
.three .d2 :nth-child(1){
    margin-top: 20px;
    font-size: 40px;
    font-weight: 550;
}
.three .d2 :nth-child(2){
    font-size: 16px;
    font-weight: bold;
}
.three .d2 :nth-child(3){
    font-size: 20px;
}
.three .d2 :nth-child(4) button{
    font-size: medium;
    font-weight: lighter;
    background-color: transparent;
    height: 40px;
    width: 120px;
    margin-left: 10px;    
    border-radius: 30px;
    border-color: #0071e3;
    color: #0071e3;
    margin-top: 0;
}
.three .d2 :nth-child(4) :nth-child(1){
    border: #0071e3;
    background-color: #0071e3;
    color: #f5f5f7;
}
.three .d2 :nth-child(4) :nth-child(2){
    width:70px;
}
.three div div .btn:hover{
    cursor:pointer;
    background-color: #0071e3;
    color:#f5f5f7;
}
section div .btn:hover{
    cursor: pointer;
    background-color: #0071e3;
    color:#f5f5f7;
}
.four{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.four .c1{
    margin: 10px;
    margin-top: 0;
    background-image: url(images/studykid.jpg);
    background-repeat: no-repeat;
    width: calc(50vw-10px);
    height: 560px;
    background-size:cover;
    text-align: center;
}
.four button{
    margin-top: 55vh;
    height: 40px;
    width: 105px;
    background-color: #f5f5f7;
    color: #1d1d1f;
    border-color: #f5f5f7;
    border-radius: 30px;
}
.four button:hover{
    cursor: pointer;
    background-color: white;
}
.four .c2{
    margin: 10px -2px;
    margin-top: 0;
    background-image: url(images/human.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: calc(50vw-10px);
    height: 560px;
    background-size:cover;
    text-align: center;
    display: grid;
    grid-template-rows: 50px
                        25px
                        25px
                        40px;
}
.four .c2>div{
    margin-top: 52vh;
    color: #f5f5f7;
}
.four .c2 :nth-child(1){
    font-size: 40px;
}
.four .c2 .a{
    font-size: 20px;
}
.four .c2 :nth-child(4) button{
    font-size: medium;
    font-weight: lighter;
    height: 40px;
    width: 120px;
    margin-left: 10px;    
    border-radius: 30px;
    margin-top: 2vh;   
}
.four .c2 :nth-child(4) :nth-child(1){
    border: #0071e3;
    background-color: #0071e3;
    color: #f5f5f7;
}
.four .c2 :nth-child(4) :nth-child(2){
    background-color: transparent;
    border-color: #0071e3;
    color: #0071e3;
    width: 70px;
}
.four .c2 :nth-child(4) .btn:hover{
    cursor:pointer;
    background-color: #0071e3;
    color:#f5f5f7;
}
.five{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.five .b1{
    margin: 10px;
    margin-top: 0;
    background-image: url(images/laptophalf.jpg);
    background-repeat: no-repeat;
    width: calc(50vw-10px);
    height: 560px;
    background-size:cover;
    background-position: center;
    text-align: center;
    display: grid;
    grid-template-rows: 50px
                        20px
                        360px
                        20px;
}
.five .b1 div{
    margin-top: 8vh;
    color: #f5f5f7;
}
.five .b1 :nth-child(1){
    font-size: 40px;
    font-weight: bold;
}
.five .b1 :nth-child(2){
    font-size: 20px;
}
.five .b1 :nth-child(3) button{
    font-size: medium;
    font-weight: lighter;
    height: 40px;
    width: 120px;
    margin-left: 10px;    
    border-radius: 30px;
    margin-top: 2vh;   
}
.five .b1 :nth-child(3) :nth-child(1){
    border: #0071e3;
    background-color: #0071e3;
    color: #f5f5f7;
}
.five .b1 :nth-child(3) :nth-child(2){
    background-color: transparent;
    border-color: #0071e3;
    color: #0071e3;
    width: 70px;
}
.five .b1 :nth-child(4){
    font-size: 15px;
    color:color-mix(in srgb,red 70%, blue 40%);
}
.five .b2{
    margin: 10px -2px;
    margin-top: 0;
    background-image: url(images/twohands.jpg);
    background-repeat: no-repeat;
    width: calc(50vw-10px);
    height: 560px;
    background-size:cover;
    background-position: center;
    text-align: center;
    display: grid;
    grid-template-rows: 50px
                        20px
                        360px
                        20px;
}
.five .b2 div{
    margin-top: 8vh;
}
.five .b2 :nth-child(1){
    font-size: 40px;
    font-weight: 550;
}
.five .b2 :nth-child(2){
    font-size: 21px;
}
.five .b2 :nth-child(3) button{
    font-size: medium;
    font-weight: lighter;
    height: 40px;
    width: 160px;
    margin-left: 10px;    
    border-radius: 40px;
    margin-top: 2vh; 
    border: #0071e3;
    background-color: #0071e3;
    color: #f5f5f7;  
}